.wrapper-form {
  background-image: linear-gradient(rgba(209, 145, 60, 1), rgba(255, 209, 148, 0.8)), asset-url('background.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  color: black;
}

.container-form {
  text-align: center;
  height: 970px;
  margin: 0 auto;

}

.container-form h1 {
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 80px;
  margin: 0;

}

.name-form {
  border: 3px solid black;
  border-radius: 6px;
  padding: 10px 15px;
  margin: 5px;
  width: 200px;
  background: rgba(0, 0, 0, 0);
  color: black;
  font-weight: normal;
}


.form-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.simple-form .new_cocktail {
  height: 250px;
  width: 400px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#new_cocktail {
  height: 400px;
  width: 400px;
}